n8n-workflows/english-tutor.json
{
  "name": "English Tutor",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "382556da-141c-4f5f-919d-66302d370837",
      "name": "Telegram Trigger",
      "webhookId": "25ba9dae-5bf5-40d7-aade-cb6ef48abe9d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a professional but friendly English tutor. Your main goal is to help the learner improve their English by correcting grammar, vocabulary, and sentence structure in a clear and concise way. Keep responses short, focused, and helpful. When the learner makes a mistake, correct it, explain it briefly, and then ask a follow-up question to continue the conversation naturally. Do not overtalk or go off-topic. Stay focused on teaching and improving the learner's English through conversation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [220, 0],
      "id": "af9e1dbd-7941-4fec-9f6e-65e687693c53",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [80, 200],
      "id": "866ffae3-741c-4f60-b127-767a3eb8dfd0",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [330, 160],
      "id": "796a95e1-c34d-4340-8254-38cba742a92e",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 0],
      "id": "27d27a8a-7863-420c-a325-4b2bc515fc22",
      "name": "Send Message"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Postgres Chat Memory": {
      "ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "Send Message", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}